<!DOCTYPE html>
<html>
<head>
  <title>Users Table</title>
  <style>
    table {
      width: 50%;
      margin: 20px auto;
      
    }
    th, td {
      padding: 10px;
      border: 2px solid #333;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">User List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.address.city %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
